<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <ul>
      <span class="navbar-brand mb-0 h1 font-weight-bold">Lines</span>
      <li>
        <a href="" class="text-light">
          My Contacts
        </a>
      </li>
      <li>
        <a href="" class="text-light">
          My Linkedin
        </a>
      </li>
      <li>
        <a href="" class="text-light">
          My Gmail
        </a>
      </li>
    </ul>
  </a>
    <p class="text-light">Made in Brazil, 2020</p>
</nav>
