<app-header></app-header>

<h2 class="text-center my-5 font-weight-bold">Lines</h2>

<div class="buttons p-3 my-5">
  <button type="button" class="btn btn-success btn-lg btn-block text-dark" [routerLink]="['greenLine']">Line Green</button>
  <button type="button" class="btn btn-primary btn-lg btn-block text-dark" [routerLink]="['blueLine']">Line Blue</button>
  <button type="button" class="btn btn-danger btn-lg btn-block text-dark"[routerLink]="['redLine']">Line Red</button>
  <button type="button" class="btn btn-warning btn-lg btn-block text-dark" [routerLink]="['yellowLine']">Line Yellow</button>
</div>



<app-footer></app-footer>
